<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Local Base 
    <base href="http://localhost:21039/" target="_blank">
    -->
    <title>Mangrove Platform</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="css/home/leaflet.css" />
    <!-- Leaflet JavaScript -->
    <script src="scripts/home/leaflet.js"></script>
    <!-- Google Charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"> </script>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />
    <link href="css/home/home.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/home/bootstrap.css">

    <!--
        <link href="platform/css/home/home.css" rel="stylesheet" type="text/css">    
    -->
</head>

<body>
    <!-- <div id="navTop" style="background-color: #41b3a3;"> -->
    <div id="navTop">
        <nav class="navbar navbar-expand-xl navbar-light bg-light navbar-fixed-top" style="padding-top: 2px; padding-bottom: 2px;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarElements"
                        aria-controls="navbarElements" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="navbarElements">
                    <ul class="nav navbar-nav pull-sm-left">
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="padding-top: 4px; padding-bottom: 0px;">
                                <img src="imgs/home_logo.png" alt="Home">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Estatísticas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Teoria</a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-logo mx-auto">
                        <li class="nav-item">
                            <a class="navbar-brand" href="#" style="font-size: 25px">Mangrove Platform</a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav pull-sm-right">
                        <li class="nav-item">
                            <a class="nav-link" href="https://solved.eco.br/" style="padding-top: 0px; padding-bottom: 0px;">
                                <img src="imgs/solved_logo_1.png" alt="Solved">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="container">
        <div id="mapid"></div>        
    </div>
    <!-- Modal -->
    <div class="modal fade " style="z-index:10" id="TVGraph" tabindex="-1" role="dialog" aria-labelledby="TVL"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content " style="background-color: transparent; border: none;" id="graph">
                <div class="modal-body">
                    <div class="loader">Loading...</div>
                    <div class="text-center">
                        <strong>Carregando</strong>
                    </div>
                    <div id="old_chart_div"></div>
                </div>

                <div id="saveGraphPNG" class="modal-footer d-none">
                    <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                    <button type="button" class="btn btn-primary" onclick="savePNG()">Salvar PNG</button>
                </div>

            </div>
        </div>
    </div>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script>
        google.charts.load('current', { packages: ['corechart', 'line'] });
        function getGoogleVizualization(type) {
            switch (type) {
                case "DataTable":
                    return new google.visualization.DataTable();
                case "LineChart":
                    //return new google.visualization.LineChart(document.getElementById('chartDiv'));
                    return new google.visualization.LineChart(document.getElementById('chart_div'));
            }
        }
    </script>

    <script src="scripts/home/home.js"></script>
    <!--
        <script  src="platform/scripts/home/home.js"></script>
	-->
</body>

</html>