<!DOCTYPE html>
<html lang="pt-br">

<head>
    
    <base href="http://solved.eco.br/mangroveplatform/" target="_blank">
    
    <link rel="apple-touch-icon" sizes="57x57" href="imgs/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="imgs/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="imgs/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="imgs/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="imgs/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="imgs/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="imgs/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="imgs/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="imgs/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="imgs/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="imgs/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="imgs/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="imgs/favicon/favicon-16x16.png">
    <link rel="manifest" href="imgs/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="imgs/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>Mangrove Platform</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Material Icons CSS-->
    <link rel="stylesheet" href="common/css/material_icons.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="common/css/bootstrap.css">
    <!-- Font-Awesome CSS -->
    <link rel="stylesheet" href="common/css/font-awesome.min.css">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="common/css/leaflet.css" />
    <!-- Lobster CSS-->
    <link rel="stylesheet" type="text/css" href="common/css/lobster.css" />
    <!-- Home CSS -->
    <link href="css/home/home.css" rel="stylesheet" type="text/css" />

    <style>
        .custom-dropdown {
            width: auto;
        }

        .custom-dropdown:hover {
            color: #16181b;
            text-decoration: none;
            background-color: #f8f9fa;
        }

        .custom-checkbox {
            margin-right: 5px;
        }
    </style>
</head>

<body>
    <div id="navTop">
        <nav class="navbar navbar-expand-sm navbar-light bg-light navbar-fixed-top"
            style="padding-top: 2px; padding-bottom: 2px;">
            <h2 class="navbar-brand" href="#"><img src="imgs/logo_30x30.png" alt=""> Mangrove Platform</h2>
        </nav>
    </div>
    <div id="container">
        <div id="mapid"></div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="TVGraph" tabindex="-1" role="dialog" aria-labelledby="TVL" aria-hidden="true"
        style="z-index: 10000;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="background-color: transparent; border: none;" id="graph">
                <div class="modal-body">
                    <div class="loader">Loading...</div>
                    <div class="text-center">
                        <strong>Carregando</strong>
                    </div>
                    <div id="old_chart_div"></div>
                </div>

                <div id="saveGraphPNG" class="modal-footer d-none">
                    <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                    <button type="button" class="btn btn-primary" onclick="savePNG()">Salvar PNG</button>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalDownload" tabindex="-1" role="dialog" aria-labelledby="TVL" aria-hidden="true"
        style="z-index: 10000;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title">Configurações de Download</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="float-left">
                            Select Layers
                        </div>
                        <div class="float-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Layers
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item custom-dropdown">
                                        <input class="custom-checkbox main-box-layers" type="checkbox" onclick="selectAllLayers()">Todos
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item custom-dropdown">
                                        <input class="custom-checkbox layers-box" type="checkbox">Diniz et Al., 2019 
                                    </a>
                                    <a class="dropdown-item custom-dropdown">
                                        <input class="custom-checkbox layers-box" type="checkbox">SEDAC - NASA
                                    </a>
                                    <a class="dropdown-item custom-dropdown">
                                        <input class="custom-checkbox layers-box" type="checkbox">Mangrove Frequency
                                    </a>
                                    <a class="dropdown-item custom-dropdown">
                                        <input class="custom-checkbox layers-box" type="checkbox">NDVI
                                    </a>
                                    <a class="dropdown-item custom-dropdown">
                                        <input class="custom-checkbox layers-box" type="checkbox">NDWI
                                    </a>
                                    <a class="dropdown-item custom-dropdown">
                                        <input class="custom-checkbox layers-box" type="checkbox">NDVI - NDWI
                                    </a>
                                    <a class="dropdown-item custom-dropdown">
                                        <input class="custom-checkbox layers-box" type="checkbox">MMRI
                                    </a>
                                    <a class="dropdown-item custom-dropdown">
                                        <input class="custom-checkbox layers-box" type="checkbox">Points
                                    </a>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="float-left">
                            States
                        </div>
                        <div class="float-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    States
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item custom-dropdown">
                                        <input class="custom-checkbox main-box-states" type="checkbox" onclick="selectAllStates()">All
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item custom-dropdown">
                                        <input class="custom-checkbox states-box" type="checkbox">Amapá
                                    </a>
                                    <a class="dropdown-item custom-dropdown">
                                        <input class="custom-checkbox states-box" type="checkbox">Pará
                                    </a>
                                    <a class="dropdown-item custom-dropdown">
                                        <input class="custom-checkbox states-box" type="checkbox">Maranhão
                                    </a>
                                    <a class="dropdown-item custom-dropdown">
                                        <input class="custom-checkbox states-box" type="checkbox">Piauí
                                    </a>
                                    <a class="dropdown-item custom-dropdown">
                                        <input class="custom-checkbox states-box" type="checkbox">Ceará
                                    </a>
                                    <a class="dropdown-item custom-dropdown">
                                        <input class="custom-checkbox states-box" type="checkbox">Rio Grande do Norte
                                    </a>
                                    <a class="dropdown-item custom-dropdown">
                                        <input class="custom-checkbox states-box" type="checkbox">Paraíba
                                    </a>
                                    <a class="dropdown-item custom-dropdown">
                                        <input class="custom-checkbox states-box" type="checkbox">Pernambuco
                                    </a>
                                    <a class="dropdown-item custom-dropdown">
                                        <input class="custom-checkbox states-box" type="checkbox">Alagoas
                                    </a>
                                    <a class="dropdown-item custom-dropdown">
                                        <input class="custom-checkbox states-box" type="checkbox">Sergipe
                                    </a>
                                    <a class="dropdown-item custom-dropdown">
                                        <input class="custom-checkbox states-box" type="checkbox">Bahia
                                    </a>
                                    <a class="dropdown-item custom-dropdown">
                                        <input class="custom-checkbox states-box" type="checkbox">Espírito Santo
                                    </a>
                                    <a class="dropdown-item custom-dropdown">
                                        <input class="custom-checkbox states-box" type="checkbox">Rio de Janeiro
                                    </a>
                                    <a class="dropdown-item custom-dropdown">
                                        <input class="custom-checkbox states-box" type="checkbox">Paraná
                                    </a>
                                    <a class="dropdown-item custom-dropdown">
                                        <input class="custom-checkbox states-box" type="checkbox">Santa Catarina
                                    </a>
                                    <a class="dropdown-item custom-dropdown">
                                        <input class="custom-checkbox states-box" type="checkbox">Rio Grande do Sul
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div id="error-msg" class="float-left d-none">
                        <p class="text-danger">Select at least one state.</p>
                    </div>
                    <div class="float-right">
                        <button type="button" class="btn btn-sm btn-primary" onclick="download()">Download</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jquery 3.3.1 -->
    <script src="common/scripts/jquery-3.3.1.min.js"></script>
    <!--- Popper 1.14.6 -->
    <script src="common/scripts/popper-1.14.6.min.js"></script>
    <!-- Bootstrap 4.2.1 -->
    <script src="common/scripts/bootstrap-4.2.1.min.js"></script>
    <!-- Leaflet JavaScript -->
    <script src="common/scripts/leaflet.js"></script>
    <!-- Mobile Detect -->
    <script src="common/scripts/mobile-detect-1.4.3.min.js"></script>
    <!-- Google Charts -->
    <script type="text/javascript" src="common/scripts/loader.js"> </script>

    <script>
        google.charts.load('current', { packages: ['corechart', 'line'] });
        function getGoogleVizualization(type) {
            switch (type) {
                case "DataTable":
                    return new google.visualization.DataTable();
                case "LineChart":
                    //return new google.visualization.LineChart(document.getElementById('chartDiv'));
                    return new google.visualization.LineChart(document.getElementById('chart_div'));
            }
        }        
    </script>
    <script src="scripts/home/draw.js"></script>
    <script src="scripts/home/home.js"></script>
</body>

</html>