/*
html, body , #mapid {
    min-width: 800px;
} Min page width*/

/*https://codepen.io/andreas-groos/pen/oqzwmg*/
.navbar {
   font-family: Lobster;
   background: #C9C9C9; /* Old browsers */
   background: linear-gradient(#C9C9C9, #FFFFFF,#C9C9C9);
}

#mapid {
    height: 100%;
    width: 100vw;
}

.removePadding{
    padding-right: 0px;
    padding-left: 0px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 55px;
}

html, body {
   height: 100%;
}

#container {
    height: calc(100% - 56px);    
    width: 100%;    
    overflow: hidden;
    margin-bottom: 0;
}

/*Loading animation*/
.glyphicon-refresh-animate {
    -animation: spin .13s infinite linear;
    -webkit-animation: spin2 .13s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(360deg);}
    to { -webkit-transform: rotate(0deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(360deg);}
    to { transform: scale(1) rotate(0deg);}
}
/*Loading animation*/




#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}

.headerDivCSS {
  padding: 1px;  
  cursor: move; 
  background-color: #2196F3;
  color: #fff;
}

.leaflet-control-layers.leaflet-control-layers-expanded.leaflet-control {
    background: #C9C9C9; /* Old browsers */
    background: linear-gradient(#C9C9C9, #FFFFFF,#C9C9C9);
}

select {
   /* for Firefox */
   -moz-appearance: none;
   /* for Chrome */
   -webkit-appearance: none;
   padding: 5px;
   background: url(../../imgs/nav_20.png) no-repeat right;
   background-position-x: 95%;
}

input[type=range] {
    -webkit-appearance: none;
    width: 25%;
    float: right;
    margin-left: 10px;
    margin-top: 10px;
    /*margin: 4.5px 0;*/
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    background: rgba(0, 0, 0, 0);
    border-radius: 0px;
    border: 1px solid #656565;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0.4px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid rgba(0, 0, 0, 0);
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: #000000;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(13, 13, 13, 0);
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    background: rgba(0, 0, 0, 0);
    border-radius: 0px;
    border: 1px solid #656565;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0.4px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid rgba(0, 0, 0, 0);
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: #000000;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #656565;
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  }
  input[type=range]::-ms-fill-upper {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #656565;
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  }
  input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0.4px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid rgba(0, 0, 0, 0);
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: #000000;
    cursor: pointer;
    height: 1px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: rgba(0, 0, 0, 0);
  }
  input[type=range]:focus::-ms-fill-upper {
    background: rgba(13, 13, 13, 0);
  }

/*https://projects.lukehaas.me/css-loaders/*/
.loader {
  color: #008000;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*Modal transparence*/
.modal-backdrop
{
 opacity:0 !important;
}

.leaflet-control-layers-overlays{
  width: 180px;
}