#mapid {
    height: 100%;
    width: 100vw;
}

.removePadding{
    padding-right: 0px;
    padding-left: 0px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 55px;
}

html, body, #container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}