#mapid {
    height: 100%;
    width: 100vw;
}

.removePadding{
    padding-right: 0px;
    padding-left: 0px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 55px;
}

html, body {
   height: 100%;
}

#container {
    height: calc(100% - 56px);    
    width: 100%;    
    overflow: hidden;
    margin-bottom: 0;
}

/*Loading animation*/
.glyphicon-refresh-animate {
    -animation: spin .13s infinite linear;
    -webkit-animation: spin2 .13s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(360deg);}
    to { -webkit-transform: rotate(0deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(360deg);}
    to { transform: scale(1) rotate(0deg);}
}
/*Loading animation*/